<p id="notice"><%= notice %></p>
<p>
  <b>Libelle:</b>
  <%= @rank.name %>
</p>
<p>
  <b>Corps:</b>
  <%= @rank.corp.name %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
