<p id="notice"><%= notice %></p>

<p>
  <b>Active:</b>
  <%= @soldier.active %>
</p>

<p>
  <b>Ismale:</b>
  <%= @soldier.ismale %>
</p>

<p>
  <b>Firstname:</b>
  <%= @soldier.firstname %>
</p>

<p>
  <b>Familyname:</b>
  <%= @soldier.familyname %>
</p>

<p>
  <b>Usagename:</b>
  <%= @soldier.usagename %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @soldier.birthdate %>
</p>

<p>
  <b>Payid:</b>
  <%= @soldier.payid %>
</p>

<p>
  <b>Concertoid:</b>
  <%= @soldier.concertoid %>
</p>

<p>
  <b>Ssid:</b>
  <%= @soldier.ssid %>
</p>

<p>
  <b>Iscivilservant:</b>
  <%= @soldier.iscivilservant %>
</p>

<p>
  <b>Publicoffice:</b>
  <%= @soldier.publicoffice %>
</p>

<p>
  <b>Employername:</b>
  <%= @soldier.employername %>
</p>

<p>
  <b>Jobname:</b>
  <%= @soldier.jobname %>
</p>

<p>
  <b>Persoemail:</b>
  <%= @soldier.persoemail %>
</p>

<p>
  <b>Profemail:</b>
  <%= @soldier.profemail %>
</p>

<p>
  <b>Persolandphone:</b>
  <%= @soldier.persolandphone %>
</p>

<p>
  <b>Proflandphone:</b>
  <%= @soldier.proflandphone %>
</p>

<p>
  <b>Persomobilephone:</b>
  <%= @soldier.persomobilephone %>
</p>

<p>
  <b>Profmobilephone:</b>
  <%= @soldier.profmobilephone %>
</p>

<p>
  <b>Preferedemail:</b>
  <%= @soldier.preferedemail %>
</p>

<p>
  <b>Preferedphone:</b>
  <%= @soldier.preferedphone %>
</p>

<p>
  <b>Issma:</b>
  <%= @soldier.issma %>
</p>

<p>
  <b>Isvsl:</b>
  <%= @soldier.isvsl %>
</p>

<p>
  <b>Isgct:</b>
  <%= @soldier.isgct %>
</p>


<%= link_to 'Edit', edit_soldier_path(@soldier) %> |
<%= link_to 'Back', soldiers_path %>
